
<div style="width: 40%">
	<canvas id="lineChart"></canvas>
</div>

<div>
  <strong> Агрегированный баланс: </strong>{{balanceTotal}}. <span style="padding-left:2em"></span>   <strong> Месячный агрегированный баланс: </strong>{{monthBalanceTotal}}.
</div>

<div >
    <div style="padding-top: 5px; padding-bottom: 5px;">
        Выбор категори.
    </div>
  <div  style="width: 15%">
    <ngx-select-dropdown tabindex="0" (change)="changeCategory($event)" [multiple]="false" [(ngModel)]="multiSelect" [config]="configCategory" [options]="categoryOptions"></ngx-select-dropdown>
  </div>
    <div style="padding-top: 5px; padding-bottom: 5px;">
  Выбор компании.
    </div>
  <div  style="width: 15%">
    <ngx-select-dropdown tabindex="1" (change)="changeCompany($event)" [multiple]="false" [(ngModel)]="objectsArray" [config]="configCompany" [options]="nameOptions"></ngx-select-dropdown>
  </div>

</div>
<br>
<button *ngIf="isCompanySelected" (click)="handleSelected()" >open</button>

<br>
<br>
<div style="height: 1em; padding-bottom: 10em;">
  
</div>



